.project {
    height: 450px;
    background: #000;
    transition: ease-in-out 2s;
    background-size: cover;
    background-position: top;
    cursor: pointer;
}

.dealogic {
    background-image: url('../../../assests/sites/dealogic.png');
}
.laura{
    background-image: url('../../../assests/sites/laura-jane.png');
}
.career{
    background-image: url('../../../assests/sites/career-edu.png');
}
.project:hover {
    background-position: bottom;
}